<p id="notice"><%= notice %></p>

<p>
  <strong>Protocolname:</strong>
  <%= @protocol_type.protocolName %>
</p>

<%= link_to 'Edit', edit_protocol_type_path(@protocol_type) %> |
<%= link_to 'Back', protocol_types_path %>
